<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Reunião Details</title>
</head>

<body class="bg-gray-900">
    <div class="flex flex-col bg-gray-800 text-white p-4 rounded shadow-md">
        <div class="flex justify-between items-center mb-3">
            <div class="text-xl font-semibold">
                {{ reuniao.data|date:"d \D\E F"|upper }} | {{ reuniao.texto|upper }}
            </div>
            <div>
                <span class="font-semibold">Presidente:</span> {{ reuniao.presidente }}
            </div>
        </div>
        <div class="flex justify-between text-sm">
            <div>
                <span class="font-semibold">Conselheiro Sala B:</span> {{ reuniao.conselheiro_sala_b }}
            </div>
            <div>
                <span class="font-semibold">Cantico:</span> {{ reuniao.cantico_inicial }}
            </div>
            <div>
                <span class="font-semibold">Oração:</span> {{ reuniao.oracao_inicial }}
            </div>
        </div>
    </div>
    <datalist id="pessoa_list">
        {% for pessoa in pessoas %}
        <option value="{{ pessoa.nome }}"></option>
        {% endfor %}
    </datalist>
    <!-- Tesouros -->
    <div>
        <div class="bg-[var(--color-tesouro)] p-2 m-2 rounded flex items-center space-x-2">
            <h3 class="text-2xl font-medium w-2/4 ">Tesouros da Palavra de Deus</h3>
            <h5 class="text-lg text-white font-medium w-1/4">Sala B</h5>
            <h5 class="text-lg text-white font-medium w-1/4">Sala Principal</h5>
            
        </div>
        {% for parte in tesouros %}
        <form  method="post" action="{% url 'update_parte' reuniao.pk %}">
            {% csrf_token %}
            <div class="bg-white p-2 m-2 rounded flex items-center space-x-2">
                <div class="w-2/4 flex">
                    <div class="flex items-center space-x-0 text-[var(--color-tesouro)] font-medium">
                        <input 
                            id="numero_parte"
                            type="text" 
                            name="numero_parte_{{ parte.id }}"
                            value="{{ parte.numero_parte }}" 
                            class="rounded mb-0 w-12 p-2 text-center border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                            min="1" 
                            max="3"
                            aria-label="Número da Parte"
                        />
                        <span class="text-2xl">.</span>
                    </div>
                    <input type="text" name="nome_parte_{{ parte.id }}" value="{{ parte.nome_parte }}" class="rounded mb-0 p-2 w-3/5  border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" placeholder="Nome da Parte" />
                    <div class="flex items-center space-x-0 text-[var(--color-tesouro)] font-medium">
                        <input type="number" name="duracao_{{ parte.id }}" value="{{ parte.duracao }}" class="rounded mb-0 w-12 p-2 text-center border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"  />
                        <span class="text-sm">(min)</span>
                    </div>
                    {% if parte.numero_parte >= 3 and parte.numero_parte <= 7 %}
                        <input type="text" name="ponto_parte_{{ parte.id }}" value="{{ parte.ponto }}" class="rounded ml-10 mb-0 p-2 w-20 border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" placeholder="Ponto" />
                    {% endif %}
                </div>
            {% if parte.numero_parte >= 3 and parte.numero_parte <= 7 %}
                <!-- Pessoa B -->
                <div class="flex items-center space-x-2 w-1/4">
                    <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                    <span class="block font-semibold text-xs">Anterior</span>
                    <span class="block text-sm opacity-75">Teste</span>
                    </div>
                    <input type="text" name="pessoa_b_{{parte.id}}" value="{{ parte.pessoa_b|default_if_none:'' }}" 
                    class="rounded border border-gray-300 p-2 h-8 w-3/5 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" 
                    placeholder="Pessoa" list="pessoa_list"/>
                    
                    <button type="button" 
                        class="bg-red-600 text-white rounded h-8 w-8 flex items-center justify-center" 
                        onclick="limpar_campo_pessoa('pessoa_b_{{parte.id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    </button>
                    <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                    <span class="block font-semibold text-xs">Proximo</span>
                    <span class="block text-sm opacity-75">Teste</span>
                    </div>
                </div>
            {% else %}
                <div class="w-1/4"></div>
            {% endif %}
            <!-- Pessoa  -->
            <div class="flex items-center space-x-2 w-1/4">
                <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                    <span class="block font-semibold text-xs">Anterior</span>
                    <span class="block text-sm opacity-75">Teste</span>
                </div>
                <input type="text" name="pessoa_{{parte.id}}" value="{{ parte.pessoa | default_if_none:'' }}" 
                class="rounded border border-gray-300 p-2 h-8 w-3/5 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" 
                placeholder="Pessoa" list="pessoa_list"/>

                <button type="button" 
                    class="bg-red-600 text-white rounded h-8 w-8 flex items-center justify-center" 
                    onclick="limpar_campo_pessoa('pessoa_{{parte.id}}')">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
                <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                    <span class="block font-semibold text-xs">Proximo</span>
                    <span class="block text-sm opacity-75">Teste</span>
                </div>
            </div>
            <button type="submit" value="{{ parte.pk }}" class="bg-green-600 text-white rounded px-2 py-1 hover:bg-green-700 focus:outline-none">
                Salvar
            </button>
            <button type="button" class="bg-red-600 text-white rounded px-2 py-1 hover:bg-red-700 focus:outline-none">
                Deletar
            </button>
            </div>
        </form>
        {% endfor %}
    </div>
    <!-- Faça seu Melhor no Ministério -->
    <div>
        
        <div class="bg-[var(--color-minesterio)] p-2 m-2 rounded flex items-center space-x-2">
            <h3 class="text-2xl font-medium w-2/4">Faça seu Melhor no Ministério</h3>
            <h5 class="text-lg text-white font-medium w-1/4">Sala B</h5>
            <h5 class="text-lg text-white font-medium w-1/4">Sala Principal</h5>
            <button type="button" class="bg-green-600 text-white rounded px-2 py-1 hover:bg-green-700 focus:outline-none" onclick="adicionarParte(2)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round"  stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </button>
        </div>
        {% for parte in ministerio %}
            <form method="post" action="{% url 'update_parte' parte.pk %}">
                {% csrf_token %}
                <div class="bg-white p-2 m-2 rounded flex items-center space-x-2">
                    <div class="w-2/4 flex">
                        <div class="flex items-center space-x-0 text-[var(--color-minesterio)] font-medium">
                            <input 
                                id="numero_parte"
                                type="text" 
                                name="numero_parte_{{ parte.id }}" 
                                value="{{ parte.numero_parte }}" 
                                class="rounded mb-0 w-12 p-2 text-center border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                                min="1" 
                                max="3"
                                aria-label="Número da Parte"
                            />
                            <span class="text-2xl">.</span>
                        </div>
                        <select name="nome_parte_{{ parte.id }}" class="rounded mb-0 p-2 w-3/5 border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" value="Inciando conversas">
                            <option value="" disabled hidden {% if not parte.nome_parte %}selected hidden{% endif %}>Nome da Parte</option>
                            <option value="Inciando conversas" {% if parte.nome_parte == "Inciando conversas" %}selected{% endif %}>Inciando conversas</option>
                            <option value="Cultivando o interesse" {% if parte.nome_parte == "Cultivando o interesse" %}selected{% endif %}>Cultivando o interesse</option>
                            <option value="Fazendo discípulos" {% if parte.nome_parte == "Fazendo discípulos" %}selected{% endif %}>Fazendo discípulos</option>
                            <option value="Discurso" {% if parte.nome_parte == "Discurso" %}selected{% endif %}>Discurso</option>
                        </select>
                        <div class="flex items-center space-x-0 text-[var(--color-minesterio)] font-medium">
                            <input type="number" name="duracao_{{ parte.id }}" value="{{ parte.duracao }}" class="rounded mb-0 w-12 p-2 text-center border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"  />
                            <span class="text-sm">(min)</span>
                        </div>
                        {% if parte.numero_parte >= 3 and parte.numero_parte <= 7 %} 
                        <input type="text" name="ponto_parte_{{ parte.id }}" value="{{ parte.ponto }}"
                            class="rounded ml-10 mb-0 p-2 w-20 border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                            placeholder="Ponto" />
                        {% endif %}
                    </div>
                    <!-- Pessoa B -->
                    
                    {% if parte.numero_parte >= 3 and parte.numero_parte <= 7 %}
                        <div class="flex items-center space-x-2 w-1/4">
                            <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                                <span class="block font-semibold text-xs">Anterior</span>
                                <span class="block text-sm opacity-75">Teste</span>
                            </div>
                            <input type="text" name="pessoa_b_{{ parte.id }}" value="{{ parte.pessoa_b|default_if_none:'' }}"
                            class="rounded border border-gray-300 p-2 h-8 {% if parte.nome_parte == 'Discurso' %}w-3/5{% else %}w-1/3{% endif %} focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                            placeholder="Pessoa" list="pessoa_list" />
                            {% if parte.nome_parte != "Discurso" %}
                                <span class="text-xl font-bold">/</span>
                                <input type="text" name="ajudante_b_{{ parte.id }}" value="{{ parte.ajudante_b|default_if_none:'' }}"
                                class="rounded border border-gray-300 p-2 h-8 {% if parte.nome_parte == 'Discurso' %}w-3/5{% else %}w-1/3{% endif %} focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                                placeholder="Pessoa" list="pessoa_list" />
                            {% endif %}
                                <button type="button" class="bg-red-600 text-white rounded h-8 w-8 flex items-center justify-center"
                                onclick="limpar_campo_pessoa('pessoa_b_{{ parte.id }}')">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                            <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                                <span class="block font-semibold text-xs">Proximo</span>
                                <span class="block text-sm opacity-75">Teste</span>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Pessoa  -->
                    <div class="flex items-center space-x-2 w-1/4">
                        <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                            <span class="block font-semibold text-xs">Anterior</span>
                            <span class="block text-sm opacity-75">Teste</span>
                        </div>
                        <input type="text" name="pessoa_{{ parte.id }}" value="{{ parte.pessoa | default_if_none:'' }}"
                            class="rounded border border-gray-300 p-2 h-8 {% if parte.nome_parte == 'Discurso' %}w-3/5{% else %}w-1/3{% endif %} focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                            placeholder="Pessoa" list="pessoa_list" />
                        {% if parte.nome_parte != "Discurso" %}
                        <span class="text-xl font-bold">/</span>
                        <input type="text" name="ajudante_{{ parte.id }}" value="{{ parte.ajudante|default_if_none:'' }}"
                            class="rounded border border-gray-300 p-2 h-8 w-1/3 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                            placeholder="Pessoa" list="pessoa_list" />
                        {% endif %}
                        <button type="button" class="bg-red-600 text-white rounded h-8 w-8 flex items-center justify-center"
                            onclick="limpar_campo_pessoa('pessoa_{{ parte.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                            <span class="block font-semibold text-xs">Proximo</span>
                            <span class="block text-sm opacity-75">Teste</span>
                        </div>
                    </div>
                    <button type="submit" class="bg-green-600 text-white rounded px-2 py-1 hover:bg-green-700 focus:outline-none">
                        Salvar
                    </button>
                    <button type="submit" class="bg-red-600 text-white rounded px-2 py-1 hover:bg-red-700 focus:outline-none"  formaction="{% url 'delete_parte' parte.pk %}">
                        Deletar
                    </button>
                </div>
            </form>
        {% endfor %}
    </div>
    
</body>

<script>
    const limpar_campo_pessoa = (target) => {
        const field = document.querySelector(`[name="${target}"]`);
        const id = field.name.split('_').pop();
        const numero_parte = document.querySelector(`[name="numero_parte_${id}"]`);
        if (numero_parte.value >= 3 && numero_parte.value <= 7) {
            let ajudante;
            if (field.name.includes('_b')) {
                ajudante = document.querySelector(`[name="ajudante_b_${id}"]`);
            } else {
                ajudante = document.querySelector(`[name="ajudante_${id}"]`);
            }
            if (ajudante) {
                ajudante.value = "";
            }
        }
        field.value = "";
    }

    const adicionarParte = (trecho) => {
        let range = []; 
        let trecho_nome = "";
        if (trecho === 1) {
            range = [1, 3];
            trecho_nome = "Tesouros da Palavra de Deus";
        } else if (trecho === 2) {
            range = [4, 7];
            trecho_nome = "Faça seu Melhor no Ministério";
        }
        const modal = document.createElement('div');
        modal.className = "fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50";
        modal.innerHTML = `
            <div class="bg-white rounded-lg shadow-lg w-80 p-6">
            <h3 class="text-xl font-semibold mb-4">Qual o número da parte?</h3>
            <form method="post" action="{% url 'create_parte' reuniao.pk %}">
                {% csrf_token %}
                <input type="hidden" name="trecho" value="${ trecho_nome }">
                <input 
                type="number" 
                name="numero_parte_nova" 
                min="${ range.length ? range[0] : 1 }" 
                ${ range.length ? 'max="' + range[1] + '"' : '' } 
                class="w-full border border-gray-300 rounded p-2 mb-4" 
                placeholder="Digite o número da parte" 
                required
                >
                <div class="flex justify-end space-x-2">
                <button 
                    type="button" 
                    class="bg-gray-500 text-white rounded px-3 py-1" 
                    onclick="this.closest('.fixed').remove()"
                >
                    Cancelar
                </button>
                <button 
                    type="submit" 
                    class="bg-blue-600 text-white rounded px-3 py-1"
                >
                    Salvar
                </button>
                </div>
            </form>
            </div>
        `;
        document.body.appendChild(modal);
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.remove();
            }
        });
    }
</script>

</html>