<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Reunião Details</title>
</head>

<body class="bg-gray-900">
    <div class="flex flex-col bg-gray-800 text-white p-4 rounded shadow-md">
        <div class="flex justify-between items-center mb-3">
            <div class="text-xl font-semibold">
                {{ reuniao.data|date:"d \D\E F"|upper }} | {{ reuniao.texto|upper }}
            </div>
            <div>
                <span class="font-semibold">Presidente:</span> {{ reuniao.presidente }}
            </div>
        </div>
        <div class="flex justify-between text-sm">
            <div>
                <span class="font-semibold">Conselheiro Sala B:</span> {{ reuniao.conselheiro_sala_b }}
            </div>
            <div>
                <span class="font-semibold">Cantico:</span> {{ reuniao.cantico_inicial }}
            </div>
            <div>
                <span class="font-semibold">Oração:</span> {{ reuniao.oracao_inicial }}
            </div>
        </div>
    </div>
    <div>

        <div class="bg-[var(--color-tesouro)] p-2 m-2 rounded flex items-center space-x-2">
            <h3 class="text-2xl font-medium w-2/4">Tesouros da Palavra de Deus</h3>
            <h5 class="text-lg text-white font-medium w-1/4">Sala B</h5>
            <h5 class="text-lg text-white font-medium w-1/4">Sala Principal</h5>
        </div>
        {% for parte in tesouros %}
            {% csrf_token %}
            <div>
                <div class="bg-white p-2 m-2 rounded flex items-center space-x-2">
                    <div class="w-2/4 flex">
                        <div class="flex items-center space-x-0 text-[var(--color-tesouro)] font-medium">
                            <input 
                                id="numero_parte"
                                type="text" 
                                name="numero_parte" 
                                value="{{ parte.numero_parte }}" 
                                class="rounded mb-0 w-12 p-2 text-center border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"
                                min="1" 
                                max="3"
                                aria-label="Número da Parte"
                            />
                            <span class="text-2xl">.</span>
                        </div>
                        <input type="text" name="nome_parte" value="{{ parte.nome_parte }}" class="rounded mb-0 p-2 w-3/5  border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" placeholder="Nome da Parte" />
                        <div class="flex items-center space-x-0 text-[var(--color-tesouro)] font-medium">
                            <input type="number" name="duracao" value="{{ parte.duracao }}" class="rounded mb-0 w-12 p-2 text-center border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300"  />
                            <span class="text-sm">(min)</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2 w-1/4">
                        <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                            <span class="block font-semibold text-xs">Anterior</span>
                            <span class="block text-sm opacity-75">Teste</span>
                        </div>
                        <input type="text" name="pessoa_b" value="{{ parte.pessoa_b }}" 
                            class="rounded border border-gray-300 p-2 h-8 w-2/5 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" 
                            placeholder="Pessoa" list="pessoa-list"/>
                        <datalist id="pessoa-list">
                            {% for pessoa_b in pessoas %}
                            {% if parte.pessoa_b_id != pessoa_b.pk %}
                             <option value="{{ pessoa_b.nome }}"></option>
                            {% endif %}
                            {% endfor %}
                        </datalist>
                        <button type="button" 
                                class="bg-red-600 text-white rounded h-8 w-8 flex items-center justify-center" 
                                onclick="limpar_campo_pessoa('pessoa')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                            <span class="block font-semibold text-xs">Proximo</span>
                            <span class="block text-sm opacity-75">Teste</span>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2 w-1/4">
                        <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                            <span class="block font-semibold text-xs">Anterior</span>
                            <span class="block text-sm opacity-75">Teste</span>
                        </div>
                        <input type="text" name="pessoa" value="{{ parte.pessoa }}" 
                            class="rounded border border-gray-300 p-2 h-8 w-2/5 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-300" 
                            placeholder="Pessoa" list="pessoa-list"/>
                        <datalist id="pessoa-list">
                            {% for pessoa in pessoas %}
                            {% if parte.pessoa_id != pessoa.pk %}
                             <option value="{{ pessoa.nome }}"></option>
                            {% endif %}
                            {% endfor %}
                        </datalist>
                        <button type="button" 
                                class="bg-red-600 text-white rounded h-8 w-8 flex items-center justify-center" 
                                onclick="limpar_campo_pessoa('pessoa')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        <div class="w-1/5 text-center bg-gray-200 text-gray-600 rounded p-2">
                            <span class="block font-semibold text-xs">Proximo</span>
                            <span class="block text-sm opacity-75">Teste</span>
                        </div>
                    </div>
                    <button type="button" class="bg-green-600 text-white rounded px-2 py-1 hover:bg-green-700 focus:outline-none">
                        Salvar
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h3 class="text-2xl font-medium bg-[var(--color-minesterio)] p-2 m-2 rounded">Faça seu Melhor no Ministério</h3>
        <div class="grid grid-cols-[repeat(16,minmax(0,1fr))] gap-2 m-2">

            <!-- Cabeçalho -->
            <div class="col-span-1 text-white">Nº Parte</div>
            <div class="col-span-2 text-white">Nome Parte</div>
            <div class="col-span-1 text-white">Duração</div>
            <div class="col-span-4 text-white">Sala B</div>
            <div class="col-span-4 text-white">Sala Principal</div>
            <div class="col-span-2 text-white">Ponto</div>
            <div class="col-span-2 text-white col-end-16"></div> 

            <!-- Dados -->
            <form class="contents" method="post" action="{% url 'update_parte' reuniao.pk %}">
            {% for parte in ministerio %}
                {% csrf_token %}
                <input class="col-span-1 rounded " type="number" name="partes-{{ parte.pk }}-numero_parte" value="{{ parte.numero_parte }}" />
                <input class="col-span-2 rounded" type="text" name="partes-{{ parte.pk }}-nome_parte" value="{{ parte.nome_parte }}" />
                <input class="col-span-1 rounded" type="number" name="partes-{{ parte.pk }}-duracao" value="{{ parte.duracao }}" />
                <div class="col-span-4 flex flex-col space-y-1">
                    <div class="flex items-center space-x-1">
                        <select class="rounded h-8" name="partes-{{ parte.pk }}-pessoa_b">
                            <option value="0" selected hidden>Selecione uma pessoa</option>
                            {% for pessoa_b in pessoas %}  
                            <option value="{{ pessoa_b.pk }}"
                                {% if parte.pessoa_b_id == pessoa_b.pk %}selected{% endif %}>
                                {{ pessoa_b.nome }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="button" class="bg-red-600 text-white rounded h-8" onclick="limpar_campo_pessoa('partes-{{ parte.pk }}-pessoa_b')">Limpar</button>
                    </div>
                    <div class="flex items-center space-x-1">
                        <select class="rounded h-8" name="partes-{{ parte.pk }}-ajudante_b">
                            <option value="0" selected hidden>Selecione uma pessoa</option>
                            {% for ajudante_b in pessoas %}  
                            <option value="{{ ajudante_b.pk }}"
                                {% if parte.ajudante_b_id == ajudante_b.pk %}selected{% endif %}>
                                {{ ajudante_b.nome }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="button" class="bg-red-600 text-white rounded h-8" onclick="limpar_campo_pessoa('partes-{{ parte.pk }}-ajudante_b')">Limpar</button>
                    </div>
                </div>
                <div class="col-span-4 flex">
                    <select class="rounded" name="partes-{{ parte.pk }}-pessoa">
                        <option value="0" selected hidden>Selecione uma pessoa</option>
                        {% for pessoa in pessoas %}  
                        <option value="{{ pessoa.pk }}"
                            {% if parte.pessoa_id == pessoa.pk %}selected{% endif %}>
                            {{ pessoa.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="bg-red-600 rounded ms-1" onclick="limpar_campo_pessoa('partes-{{ parte.pk }}-pessoa')">Limpar</button>
                    <select class="rounded ms-1" name="partes-{{ parte.pk }}-ajudante">
                        <option value="0" selected hidden>Selecione uma pessoa</option>
                        {% for ajudante in pessoas %}  
                        <option value="{{ ajudante.pk }}"
                            {% if parte.ajudante_id == ajudante.pk %}selected{% endif %}>
                            {{ ajudante.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="bg-red-600 rounded ms-1" onclick="limpar_campo_pessoa('partes-{{ parte.pk }}-ajudante')">Limpar</button>
                </div>
                <div class="flex col-span-2 ">
                    <span class="me-1">(</span>
                    <input class="rounded" type="number" name="partes-{{ parte.pk }}-ponto_parte"
                        value="{{ parte.ponto_parte }}" />
                    <span class="ms-1">)</span>
                </div>
                <div class="col-span-2 col-end-16 justify-self-end">
                    <button class="bg-[var(--color-minesterio)] rounded px-2 py-1" name="confirmar_pk" value="{{ parte.pk }}" type="submit">Salvar</button>
                    <button class="bg-red-600 rounded px-2 py-1" type="submit" formaction="{% url 'delete_parte' parte.pk %}">Deletar</button>
                </div>
                {% endfor %}
            </form>

            <!-- Adicionar Parte -->
            <form class="contents" method="post" action="{% url 'create_parte'  reuniao.pk%}">
                {% csrf_token %}
                <input type="text" name="trecho" value="Faça seu Melhor no Ministério" hidden>
                <input class="col-span-1 rounded" type="number" name="numero_parte" value="" />
                <input class="col-span-2 rounded" type="text" name="nome_parte" value="" />
                <input class="col-span-1 rounded" type="number" name="duracao" value="" />
                <div class="col-span-4 flex">
                    <select class="rounded" name="pessoa_b">
                        <option value="0" selected hidden>Selecione uma pessoa</option>
                        {% for pessoa_b in pessoas %}  
                        <option value="{{ pessoa_b.pk }}">
                            {{ pessoa_b.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="bg-red-600 rounded ms-1" onclick="limpar_campo_pessoa('pessoa_b')">Limpar</button>
                    <select class="rounded ms-1" name="ajudante_b">
                        <option value="0" selected hidden>Selecione uma pessoa</option>
                        {% for ajudante_b in pessoas %}  
                        <option value="{{ ajudante_b.pk }}">
                            {{ ajudante_b.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="bg-red-600 rounded ms-1" onclick="limpar_campo_pessoa('ajudante_b')">Limpar</button>
                </div>
                <div class="col-span-4 flex">
                    <select class="rounded" name="pessoa">
                        <option value="0" selected hidden>Selecione uma pessoa</option>
                        {% for pessoa in pessoas %}  
                        <option value="{{ pessoa.pk }}">
                            {{ pessoa.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="bg-red-600 rounded ms-1" onclick="limpar_campo_pessoa('pessoa')">Limpar</button>
                    <select class="rounded ms-1" name="ajudante">
                        <option value="0" selected hidden>Selecione uma pessoa</option>
                        {% for ajudante in pessoas %}
                        <option value="{{ ajudante.pk }}">
                            {{ ajudante.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="bg-red-600 rounded ms-1" onclick="limpar_campo_pessoa('ajudante')">Limpar</button>
                </div>
                <div class="flex col-span-2 ">
                    <span class="me-1">(</span>
                    <input class="rounded" type="number" name="ponto" value="" />
                    <span class="ms-1">)</span>
                </div>
                <div class="col-span-2 col-end-16 justify-self-end">
                    <button class="bg-[var(--color-minesterio)] rounded px-2 py-1" type="submit">Adicionar</button>
                </div> 
            </form>
        </div> 
    </div>
    
</body>

<script>
    const limpar_campo_pessoa = (target) => {
        const select = document.querySelector(`[name="${target}"]`);
        select.value = 0;
    }
</script>

</html>